region            = "us-east-1"
ami               = "ami-035f35b52c5346dda"
vpc_id            = ""
subnet_id         = ""
server_instance_type = "t2.medium"
client_instance_type = "t2.medium"
key_name          = ""
private_key_data  = ""
server_count      = "3"
client_count      = "3"
name_tag_prefix   = "nomad-consul"
cluster_tag_value = "nomad-consul-demo"
owner_tag_value = ""
token_for_nomad = ""
vault_url = ""
